/* Resetowanie stylów */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Nagłówek */
#header {
    background-color: #24292e;
    color: white;
    padding: 10px 20px;
    z-index: 1001;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Przyciski hamburgera */
.hamburger-btn {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    background-color: #383E42;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Menu boczne */
.menu {
    width: 0;
    height: 100%;
    background-color: rgb(51, 45, 45);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1002;
    transition: width 0.3s ease;
}

.menu.open {
    width: 250px; /* Zmniejsz szerokość dla lepszej responsywności */
}

.menu ul {
    list-style: none;
    padding: 100px 20px 20px 20px;
}

.menu ul li {
    margin-bottom: 20px;
    font-size: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #4CAF50; /* Zielony efekt na linkach */
}

/* Przycisk zamknięcia */
.close-btn {
    font-size: 30px;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

/* Sekcja bohatera */
.hero {
    background-color: #f6f8fa;
    padding: 50px 0;
    text-align: center;
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* Sekcja funkcji */
.features {
    padding: 50px 0;
    text-align: center;
    flex: 1;
}

/* Stopka */
footer {
    background-color: #24292e;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #4CAF50;
}

.footer-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

