/* Reset marginesów, paddingów i ustawienia struktury */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Ustawienie kontenera na pełną szerokość */
.container {
    width: 100%;
    max-width: 1200px; /* Ustal maksymalną szerokość według potrzeb */
    margin: 0 auto;
}

/* Styl nagłówka */
#header {
    background-color: #24292e;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

#nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

#nav ul li a {
    color: white;
    text-decoration: none;
}

#auth-buttons {
    display: flex;
    gap: 10px;
}

#auth-buttons .btn {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

#auth-buttons .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

/* Główna sekcja */
#main {
    flex: 1; /* Rozciąga sekcję główną, aby wypełniała resztę przestrzeni */
}

.hero {
    background-color: #f6f8fa;
    text-align: center;
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    padding: 0px 0px;
}

.features {
    padding: 50px 0;
    text-align: center;
    flex: 1;
}

.features .feature {
    margin-bottom: 30px;
}

/* Stopka */
#footer {
    background-color: #24292e;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative; /* Ustawienie stopki, aby była na dole strony */
    bottom: 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
