@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    #nav ul {
        flex-direction: column;
        align-items: center;
    }

    #auth-buttons {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 36px;
    }

    .features .feature {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    #logo a {
        font-size: 20px;
    }

    #auth-buttons .btn {
        padding: 5px;
    }

    .login-menu-content {
        width: 90%;
    }
}
